<div class="container">
    <h1>Admin Dashboard</h1>
    <h1 class="text-info">
        Welcome Admin: <span class="text-success"><%=data.name%></span>
        <a href="/admin/logout">Logout</a>
    </h1>
</div>
